@import '/partial/root.css';

@keyframes spin {
 from { transform: rotate(0deg); }
 to { transform: rotate(360deg); }
}

.switch {
  z-index: 2000;
  background: var(--indigo);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  inline-size: min-content;
  font-size: 1.2rem;
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, -48px);
  opacity: 0;

  /* Animujemy transform i opacity osobno od koloru */
  transition: transform 0.3s ease-in, opacity 0.3s ease;
  font-family: 'Symbols';
  will-change: color, transform, opacity;
}

.switch.active {
  transform: translate(-50%, 0);
  opacity: 1;
}

/* Styl bazowy dla span */
.switch span {
  color: #fff; /* domyślny kolor */
  transition: color .2s ease-in;
  will-change: color;
}

/* Kolor, który chcemy animować po aktywacji */
.switch.active span.active {
  color: var(--pink);
}

html,
body {
 color: var(--textColor);
 background: var(--bgColor);
 height: 100dvh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 overflow: hidden;
 transition: all 0.1s ease-in;
 will-change: color, background;

 @starting-style {
  color: var(--textColor);
  background: var(--bgColor);
 }
}

.container {
 overflow-y: auto;
 overflow-x: hidden;
 scroll-snap-type: y mandatory;
 height: 100dvh;
 width: 100vw;
 display: flex;
 flex-direction: column;

 @media (min-width: 621px) {
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
 }
}

.theme-changing * {
 transition: none !important;
}
