@import 'fonts.css';
@import 'navigation.css';
@import 'indicator.css';
@import 'link.css';

:root {
 --maskY: linear-gradient(
  to bottom,
  transparent,
  black 15%,
  black 85%,
  transparent
 );

 --maskX: linear-gradient(
  to right,
  transparent,
  black 15%,
  black 85%,
  transparent
 );

 --bounce: cubic-bezier(0.55, 1.65, 0.49, 0.84);
 --linkSize: 12px;
 --cardOffset: 3rem;
 --pink: #ff4081;
 --indigo: #3f51b5;
 
 @media (prefers-color-scheme: light) {
  --textColor: #fff;
  --bgColor: #202124;
 }
 
 @media (prefers-color-scheme: dark) {
  --textColor: #fff;
  --bgColor: #202124;
 }
}

:root[data-theme='light'] {
 --textColor: #202124;
 --bgColor: #fff;
 --linkBackground: rgba(32, 33, 36, 0.2);
 --linkActiveBackground: rgba(12, 12, 12, 0.4);
}

:root[data-theme='dark'] {
 --textColor: #fff;
 --bgColor: #202124;
 --linkBackground: rgba(255, 255, 255, 0.2);
 --linkActiveBackground: rgba(255, 255, 255, 0.4);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 overscroll-behavior: contain;
 scrollbar-width: none;
 -ms-overflow-style: none;
 scroll-behavior: smooth;
}
